@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap')

.plot-container {
    display: flex;
    justify-content: space-between;
}
.plot-container .text {
    width: 30%;
}
.plot-container .plot {
    width: 70%;
}

.observablehq--error {
    display: none !important;
}

.callout-important.callout.callout-style-default {
    display: none !important;
}

.oi-3a86ea-input {
    margin-left: 1em;
    border-width: 1px;
}

.oi-3a86ea-input>input{
    border-width: 1px;
    border-color: black;
    text-align: right;
    padding-right: 0.2em;
}

.sourceCode cell-code{
    display: none !important;
}

.sourceCode cell-code hidden{
    display: none !important;
}

pre.sourceCode{
    display: none !important;
}

.sourceCode cell-code{
    display: none !important;
}

div.sourceCode{
    display: none !important;
}